* ::after ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
  margin: 0;
  padding: 0;
}

.container {
  color: white;
}

.main {
  display: flex;
  flex-direction: column;
  background-color: #1c1a19;
  background-image: url(./svg/illustration-header-mobile.svg);
  background-position: right;
  background-position-y: bottom;
  background-repeat: no-repeat;
  background-size: 30%;
  height: 690px;
  width: 388px;
}

header {
  background-color: #3c3a39;
  display: flex;
  justify-content: space-between;
}

.main-logo {
  padding: 12px 12px 12px 24px;
}

.main-logo > .logo {
  align-self: flex-end;
  text-decoration: none;
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
}

nav {
  align-self: flex-end;
  padding: 12px 24px 12px 12px;
}

.main-section {
  display: flex;
  flex-direction: column;
  padding: 0 24px 0 24px;
  justify-content: center;
  gap: 12px;
}

h1 {
  width: 327px;
  height: 124px;
  font-family: 'Crete Round', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 0.37px;
  color: #ff6b00;
  flex: none;
  order: 0;
  flex-grow: 0;
}

h2 {
  width: 327px;
  height: 97px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #fff5e1;
  display: flex;
  align-items: center;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.h2-color {
  color: black;
}

p {
  width: 327px;
  height: 123px;
  margin-top: -35px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  flex: none;
  order: 2;
  flex-grow: 0;
}

.details > p {
  max-width: 566px;
}

.social-media {
  display: flex;
  gap: 22.3px;
  margin-left: -32px;
  margin-bottom: 130px;
}

.social-media > li {
  list-style-type: none;
}

/* work section */
.work {
  margin-left: 24px;
  margin-right: 24px;
}

.work-section {
  display: grid;
  grid-template-columns: 100%;
}

.work-1 {
  display: flex;
  flex-direction: column;
}

.work1-visual {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.work1-visual > h1 {
  font-family: "Crete Round", serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 52px;
  letter-spacing: 0;
  align-items: center;
  color: #1c1a19;
  margin-left: 10px;
  margin-top: 80px;
}

.line {
  border: 1px solid black;
  margin: 0 34px 56px 34px;
  margin-top: -90px;
}

.work1-content {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.work-placeholder > img {
  width: 100%;
  margin-top: 30px;
}

.content-data {
  width: 327px;
  margin: auto;
}

.content-data > h1 {
  width: 327px;
  height: 36px;
  font-family: 'Crete Round', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  display: flex;
  align-items: center;
  color: #091e42;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.content-data > p {
  width: 327px;
  height: 147px;
  margin-top: 10px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #091e42;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.content-data > ul {
  display: flex;
  justify-content: space-between;
  gap: 12px;
  list-style: none;
  padding-inline-start: inherit;
}

.list2 {
  border: 1px solid white;
  padding: 12px;
}

.list1 > a {
  text-decoration: none;
  padding: 12px;
  text-align-last: center;
  border: 1px solid black;
  height: 40px;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0;
  text-align: left;
  color: #091e42;
}

.work1-btn {
  list-style: none;
}

.work1-button {
  padding: 12px;
  width: 161px;
  background-color: rgb(255, 107, 0);
  border: none;
  color: white;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  margin-top: 10px;
}

.work1-btn :hover {
  background: #fff5e1;
  border: 1px solid #f55800;
  color: #f55800;
}

.work-display {
  display: grid;
  flex-direction: column;
  gap: 24px;
}

.work-2 {
  width: 327px;
  margin: auto;
  margin-top: 24px;
  background: url(./svg/ImgPlaceholder1.svg);
  background-color: #1c1a19;
  background-repeat: no-repeat;
  background-position-x: center;
}

.work2-content > * {
  padding: 0 12px 0 12px;
}

.work2-content > h2 {
  margin-top: 84px;
  font-family: "Crete Round", serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 44px;
  letter-spacing: 0;
  text-align: left;
  color: white;
}

.work2-content > h1 {
  display: none;
}

.work2-content > p {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
  max-width: 100%;
  max-height: 100%;
}

.work2-content ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 12px;
  width: 247px;
  height: 40px;
  flex: none;
  order: 2;
  flex-grow: 0;
}

.work2-content li {
  display: flex;
  flex-direction: row;
  align-items: right;
  padding: 8px 10px;
  width: 67px;
  height: 30px;
  background: rgba(255, 255, 255, 0.24);
  flex: none;
  order: 0;
  flex-grow: 0;
  border: none;
}

.work2-content ul li {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px;
  width: 60px;
  height: 25px;
  flex: none;
  order: 2;
  flex-grow: 0;
}

.work2-button button {
  width: 327px;
  height: 50px;
  color: white;
  border: #ff6b00;
  background-color: #ff6b00;
  font-family: "Inter", sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: center;
  justify-self: center;
}

.work2-button :hover {
  background: #fff5e1;
  border: 1px solid #f55800;
  color: #f55800;
}

.about-me-1 {
  background: url(./svg/illustration-about-me-mobile.svg);
  background-color: #1c1a19;
  background-position: right 0 top 400px;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 340px;
  margin-right: 1px;
}

.about-me-section {
  background-color: #1c1a19;
  background-position: right 0 top 400px;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 211px;
  margin: auto;
  margin-top: 120px;
  width: 388px;
  width: 104%;
}

.about-me1-content {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 327px;
  align-self: center;
}

.about-me1-content > h1 {
  font-family: "Crete Round", serif;
  font-size: 72px;
  font-style: normal;
  font-weight: 400;
  line-height: 88px;
  letter-spacing: 0.3700000047683716px;
  text-align: left;
  color: #ff6b00;
  margin-left: 0;
}

.about-me1-content > p {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
  max-width: 100%;
  max-height: 100%;
  margin-top: -240px;
  margin-left: 0;
}

.about-me-btn {
  list-style: none;
}

.about-me-button {
  padding: 12px;
  width: 161px;
  background-color: #ff6b00;
  border: none;
  color: white;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  margin-top: 70px;
  margin-left: 0;
}

.about-me-btn :hover {
  background: #fff5e1;
  border: 1px solid #f55800;
  color: #f55800;
}

.line2 {
  border: 1px solid white;
  margin-left: 24px;
  margin-right: 24px;
  margin-top: -30px;
}

.about-me-2 {
  width: 327px;
  margin-top: -100px;
  background-color: #1c1a19;
  display: grid;
  justify-content: center;
  gap: 44px;
  list-style: none;
}

.about-me-2 .topic {
  width: 164px;
  height: 24px;
  font-family: 'InaiMathi', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  display: flex;
  align-items: center;
  color: #fff;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.about-me-2 .topic > img {
  width: 22px;
  height: 22px;
  flex: none;
  order: 0;
  flex-grow: 0;
  align-items: center;
}

.discussion {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin-top: 15px;
}

.about-me-2 .topic > p {
  font-family: "InaiMathi", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: white;
  max-width: 100%;
  max-height: 100%;
  margin-top: 10px;
  align-items: center;
  display: block;
}

.about-me-2 ul li > a {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 22px;
  line-height: 43px;
  color: white;
  list-style-type: none;
  text-decoration: none;
}

.form-section {
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
}

.form-grid > h2 {
  margin: 120px 24px 73px 40px;
  position: static;
  height: 216px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  color: #172b4d;
  transition: transform 2s;
  width: 327px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.form-grid > h2:hover {
  transform: translate(8%);
}

.inputs {
  display: flex;
  flex-direction: column;
  padding: 0;
  list-style: none;
  margin-left: -20px;
  margin-right: -10px;
}

.inputa {
  padding: 0;
}

.input1 {
  margin: 0 40px 0 40px;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  color: #979493;
  display: flex;
  flex-direction: column;
}

.email {
  margin-top: 25px;
}

.separator1 {
  width: auto;
  border: 1px solid #dbd8d7;
  margin: 14px 24px 24px 24px;
}

.input1 > input {
  flex: 1 1 auto;
  padding-right: 100px;
  border: none;
  margin-left: 36px;
}

.input2 {
  margin: 0 24px 24px 24px;
}

.text-area {
  flex: 1 1 auto;
  background-color: #fbf8f7;
  border: none;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
  padding: 12px;
  height: 90px;
  margin: 36px;
}

.form-button {
  display: flex;
  justify-content: center;
}

.submit {
  flex-shrink: 1;
  border: none;
  font-family: "Inter", sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #fff;
  background-color: #ff6b00;
  padding: 12px;
}

.form-button :hover {
  background: #fff5e1;
  border: 1px solid #f55800;
  color: #f55800;
}

.separator {
  border: 1px solid black;
  border-color: #dfe1e6;
  margin-top: 116px;
}

.sm-two {
  margin: 0;
  padding: 23px 95px 21px 99px;
  justify-content: center;
}

.separator-2 {
  border: 5px solid #0d151e;
  border-radius: 10px;
  margin: 0 121px 8px 120px;
}

.menu-bar {
  display: none;
}

.mobile-menu {
  max-height: 812px;
  background-color: #3c3a39;
  margin-top: -15px;
  display: none;
}

.mobile-menu-ul {
  list-style-type: none;
  padding: 0;
}

.mobile-menu-li-1 {
  font-family: "Inter", sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 0;
  text-align: left;
  padding: 24px 108px 15px 40px;
  color: #fff5e1;
}

.mobile-menu-li-2 {
  border: 1px solid #6f6c6b;
  margin-left: 24px;
  margin-right: 24px;
}

.close {
  padding: 40px 24px 12px 325px;
  text-align: right;
}

.bottom-menu {
  background-color: white;
  margin-top: 479px;
  padding-top: 40px;
  padding-bottom: 8px;
}

.separator-menu {
  margin: 44px 120px 8px 120px;
  border: 5px solid #0d151e;
  border-radius: 5px;
}

/* Mobile Popup */

.popUp {
  position: fixed;
  top: 0;
  background-color: white;
  padding: 24px;
}

.mobile-pop-up {
  padding: 16px 16px 20px 16px;
  border: 2px solid black;
  margin: 60px 16px 211px 16px;
  background-color: white;
  max-width: 1156px;
}

.pop-up-top {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin-right: 16px;
  height: 82px;
}

.pop-up-h1 {
  width: 350px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 20;
  font-size: 25px;
  line-height: 34px;
  color: #172b4d;
  margin: 0;
  margin-left: 30px;
  padding-top: 10px;
}

.close-icon-2 {
  margin-right: 14px;
  width: 24px;
  height: 24px;
  margin-top: 5px;
}

.pop-up-languages {
  list-style-type: none;
  display: flex;
  gap: 12px;
  padding-left: 0;
  margin-left: 30px;
}

.pop-up-language-li {
  border: 1px solid #979493;
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #3c3a39;
  padding: 12px;
}

.pop-up-image {
  width: 80%;
  height: 300px;
  padding-left: 30px;
}

.pop-up-description {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  margin-left: 30px;
  margin-top: 10px;
}

.pop-up-buttons {
  display: flex;
  max-width: 311px;
  justify-content: left;
  gap: 19px;
  width: 100%;
  padding: 0;
  margin-left: 30px;
  margin-top: -30px;
}

.pop-up-btn1 {
  width: 150px;
  height: 50px;
  color: white;
  border: #ff6b00;
  background-color: #ff6b00;
  font-family: "Inter", sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 200;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: center;
  justify-self: center;
}

.pop-up-btn2 {
  width: 150px;
  height: 50px;
  color: white;
  border: #ff6b00;
  background-color: #ff6b00;
  font-family: "Inter", sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 200;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: center;
  justify-self: center;
}

.pop-up-btn1::after {
  content: url(./svg/Icon-see\ live.svg);
  padding-left: 10px;
  display: inline-block;
}

.pop-up-btn2::after {
  content: url(./png/git.png);
  padding-left: 10px;
  display: inline-block;
}

.A {
  display: flex;
  justify-content:center;
}

.pop-up-button1 {
  list-style-type: none;
}

.pop-up-button2 {
  list-style-type: none;
}
